html, body {
    background-color: #000;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

table{margin:0;padding:0;border-collapse:collapse}
    tr{margin:0;padding:0}
    th,td{border:1px solid #000}
        .board-corner{border-width:0px 1px 1px 0;background:none}
    th{padding:10px 10px;background:#EEE}
    td{padding:10px 10px;background:grey}

.error{padding:2px 10px;background:#F4E6E6;border:2px solid #F4D0D0}